<div class="userRegistration container text-center" ng-controller="UserRegistrationController">
	<form>
		<div class="row justify-content-md-center">
			<div class="col-auto">
				<label class="col-form-label">First Name</label>
			</div>
			<div class="col-auto">
				<input type="text" class="form-control" ng-model="user.firstName">
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-auto">
				<label class="col-form-label">Last Name</label>
			</div>
			<div class="col-auto">
				<input type="text" class="form-control" ng-model="user.lastName">
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-auto">
				<label class="col-form-label">Phone No.</label>
			</div>
			<div class="col-auto">
				<input type="text" class="form-control" ng-model="user.phoneNo">
			</div>
		</div>
	</form>
</div>

<style>
	.userRegistration .row {
		padding: 0.5rem;
		background-color: white;
	}

	.col-form-label {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
	}
</style>